<div id="banner">
	<div class="outline"></div>
	
	
	<div class="frame frame1">
		<img src="bg_1.jpg" class="bg retina" >
		<img src="brush.png" class="brush" >
		<img src="t1a.png" class="retina shadow t1a" >
		<img src="t1b.png" class="retina shadow t1b" >
		<img src="t1c.png" class="retina  t1c" >
		<img src="t1d.png" class="retina shadow t1d" >

		<img src="logo.png" class="retina" >

		
	</div>

	

	
	

	<% include ../_common/templates/_rich %>

	
	<% include ../_common/templates/_blink %>

	

	<div id="pn-bg-exit"></div>
</div>