<div id="banner">
	<div class="outline"></div>
	
	
	<div class="frame frame1">

		<img src="bg_1.jpg" class="bg retina" >
		<img src="bg_2.jpg" class="bg2 retina" >
		<img src="footer.png" class="retina footer" >
		<img src="logo.png" class="retina logo" >
		<% include ../_common/templates/_blink %>	


		

		

		

		
	</div>

	<div class="frame words">
		<img src="bg_blue.png" class="retina bg_blue" >
		<div class="word1">
			<img src="brush.png" class="brush" >
			<img src="t1a.png" class="retina t1a" >
			<img src="t1b.png" class="retina t1b" >
			<img src="t1c.png" class="retina t1c" >
			<img src="t1d.png" class="retina t1d" >
		</div>
		<div class="word2">
			
			<img src="end_1.png" class="retina end_1" >
			<img src="end_2a.png" class="retina end_2 end_2a" >
			<!-- <img src="end_2b.png" id="end_2b" class="retina end_2 end_2b" > -->
			<img src="end_3.png" class="retina end_3" >

			<img src="cta.png" class="retina  cta" >
		</div>

	</div>



	<% include ../_common/templates/_numbers %>	

	
	

	

	

	

	<div id="pn-bg-exit"></div>
</div>