<div class="frame blinkFrame">
	<div class="blink top">
		<img src="./images/blink.png" inline>
		<div class="filler"></div>
	</div>

	<div class="blink bottom">
		<img src="./images/blink.png" inline>
		<div class="filler"></div>
	</div>
</div>