<div id="banner">
	<div class="outline"></div>
	
	
	<div class="frame frame1">
		<img src="./images/bg_1.jpg" class="bg" inline>
		<img src="./images/brush.png" class="brush" inline>
		<img src="./images/t1a.png" class="retina shadow t1a" inline>
		<img src="./images/t1b.png" class="retina shadow t1b" inline>
		<img src="./images/t1c.png" class="retina  t1c" inline>
		<img src="./images/t1d.png" class="retina shadow t1d" inline>

		<img src="./images/logo.png" class="retina" inline>

		
	</div>

	

	
	<div class="frame endframe">
		<img src="./images/bg_2.jpg" class="bg2 retina" inline>
		<img src="./images/t2a.png" class="retina shadow t2a" inline>
		<img src="./images/t2b.png" class="retina shadow t2b" inline>
		<img src="./images/t2c.png" class="retina shadow t2c" inline>
		<img src="./images/t2d.png" class="retina shadow t2d" inline>

		
		<img src="./images/cta.png" class="retina  cta" inline>

		<img src="./images/logo.png" class="retina" inline>
		<img src="./images/footer.png" class="retina footer" inline>
	</div>

	

	
	<% include ../_common/templates/_blink %>

	

	<div id="pn-bg-exit"></div>
</div>