<div id="banner">
	<div class="outline"></div>
	
	
	<div class="frame frame1">
		
		<img src="./images/end_1.png" class="retina end_1" inline>
		<img src="./images/end_2a.png" class="retina end_2a" inline>
		<img src="./images/end_2b.png" class="retina end_2b" inline>
		<img src="./images/end_3.png" class="retina end_3" inline>
		<% include ../_common/templates/_numbers %>	
	</div>

	
	


	<div class="frame frame3">
		
		<img src="./images/t2a.png" class="retina t2 t2a" inline>
		<img src="./images/t2b.png" class="retina t2 t2b" inline>		
		<img src="./images/cta.png" class="retina cta" inline>		
	</div>


	<img src="./images/logo.png" class="retina" inline>
	<img src="./images/txt_19.png" class="retina txt_19" inline>
	
	

	

	<div id="pn-bg-exit"></div>
</div>